<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yijiao.ssm.mapper.FilmMapper">

	<resultMap type="cn.yijiao.ssm.po.FilmVo" id="allFilm">
		<id property="film_id" column="film_id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="language" column="name" />
	</resultMap>

	<select id="selectAllFilm" parameterType="cn.yijiao.ssm.po.FilmPage"
		resultMap="allFilm">
		select film_id,title,description,name from film,language
		where film.language_id=language.language_id limit
		#{startNum},#{pageSize}
	</select>
	<select id="selectCount" parameterType="cn.yijiao.ssm.po.Film"
		resultType="int">
		select count(*) from film where 1=1
		<if test="title!=null and title!=''">
			and title like "%${title}%"
		</if>
		<if test="description!=null and description!=''">
			and description like "%${description}%"
		</if>
	</select>
	<select id="selectById" parameterType="int" resultType="cn.yijiao.ssm.po.FilmVo">
		select *
		from film where film_id=#{film_id}
	</select>

	<select id="selectByCondition" parameterType="cn.yijiao.ssm.po.FilmPage"
		resultMap="allFilm">
		select film_id,title,description,name from film,language where
		film.language_id=language.language_id
		<if test="film.title!=null and film.title!=''">
			and title like "%${film.title}%"
		</if>
		<if test="film.description!=null and film.description!=''">
			and description like "%${film.description}%"
		</if>
		limit #{startNum},#{pageSize}
	</select>

	<update id="update" parameterType="cn.yijiao.ssm.po.Film">
		update film
		<set>
			<if test="language_id!=0">
				language_id=#{language_id},
			</if>
			<if test="title!=null">
				title=#{title},
			</if>
			<if test="description!=null">
				description=#{description},
			</if>
		</set>
		where film_id=#{film_id}
	</update>

	<delete id="delete" parameterType="int">
		delete from film where
		film_id=#{film_id}
	</delete>

	<insert id="insert">
		insert into film(title,description,language_id)
		values (#{title},#{description},#{language_id});
	</insert>
</mapper>
