<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yijiao.ssm.mapper.LanguageMapper">
	<select id="selectAllLanguage" resultType="cn.yijiao.ssm.po.Language">
		select * from language
	</select>
	<select id="selectByLanguageId" parameterType="int"
		resultType="java.lang.String">
		select name from language where language_id=#{language_id}
	</select>
</mapper>
